@tailwind base;
@tailwind components;
@tailwind utilities;

/* Surcharge de la classe bg-gray-200 pour supprimer la couleur de fond */
.bg-gray-200 {
  background-color: transparent !important;
}

@keyframes dropdown-appear {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(-10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
